header {
  width: 100%;
}

.nav-bar {
  background-color: var(--tertiary-color-2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1280px;
  padding: 24px 0;
  margin: 0 auto;
}

.company-link-header,
.show,
.right-menu li a {
  color: var(--tertiary-color-1)
}

.right-menu {
  display: flex;
  gap: 16px;
}

.right-menu li a {
  text-transform: uppercase;
}

.right-menu li a:hover {
  color: var(--tertiary-color-1);
}

.right-menu li a img {
  display: none;
}

.left-menu {
  order: -1;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.menu-toggle span {
  display: block;
  height: 2px;
  width: 24px;
  background-color: var(--tertiary-color-1);
}

.orderCake {
  background-image: url('../assets/img/banner-header_1440.webp');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  margin-top: 96px;
}

.orderCake-content {
  backdrop-filter: blur(1px);
  width: 100%;
  height: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}

.order-button {
  color: var(--tertiary-color-1);
  font-size: 16px;
  font-family: var(--font-gotham-pro);
  cursor: pointer;
}

.order-title,
.order-button {
  text-align: center;
  z-index: 1;
}

.order-title {
  color: var(--tertiary-color-2);
  font-size: 52px;
}

.order-button:active {
  scale: 1.2;
}

@media (max-width: 1312px) {
  .nav-bar-content {
    padding: 18px 16px;
  }

  .orderCake-content {
    height: 40vw;
  }

  .orderCake {
    margin-top: 84px;
  }
}

@media (max-width: 1000px) {
  .orderCake-content {
    height: 50vw;
  }

  .right-menu {
    display: none;
    flex-direction: column;
    font-size: 20px;
    background-color: var(--tertiary-color-2);
    padding: 20px;
    gap: 20px;
    position: absolute;
    top: 83px;
    right: 0px;
    z-index: 2;
    border-bottom: 3px solid var(--tertiary-color-1);
  }

  .right-menu.show {
    display: flex;
  }

  .right-menu li {
    font-size: 18px;
  }

  .right-menu li a {
    display: flex;
    align-items: center;
    gap: 8px
  }

  .right-menu li a img {
    display: block;
    height: 24px;
  }

  .right-menu li a span {
    padding: 12px 0;
  }

  .menu-toggle {
    display: flex;
  }
}

@media (max-width: 768px) {
  .orderCake {
    background-image: url("../assets/img/banner-header_768.webp");
  }
}

@media (max-width: 600px) {
  .orderCake-content {
    height: 60vw;
  }
}

@media (max-width: 490px) {
  .orderCake-content {
    height: 100%;
  }

  .orderCake {
    background-image: url("../assets/img/banner-header_435.webp");
  }

  .right-menu {
    top: 79px;
  }

  .orderCake {
    height: 300px;
    margin-top: 64px;
  }

  .order-title {
    font-size: 36px;
  }

  .order-button {
    font-size: 16px;
  }

  .nav-bar-content {
    padding: 1em;
  }
}

@media (max-width: 450px) {
  .right-menu {
    top: 63px;
  }
}