.ourCatalog {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 28px auto;
  text-align: center;
  padding: 16px;
  max-width: 1280px;
  justify-content: center;
}

#cupcakesInfo, #cupcakes, #sweetsInfo, #sweets {
  display: none;
}

.ourCatalog-title {
  font-family: var(--font-clicker);
  font-size: 3em;
}

.ourCatalog-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-gotham-pro);
  font-size: 18px;
  gap: 2em;
  cursor: pointer;
  height: 30px;
}

.ourCatalog-list li {
  padding-bottom: 4px;
}

.ourCatalog-list-active {
  border-bottom: 2px solid var(--tertiary-color-2);
}

.ourCatalog-card {
  display: flex;
  flex-direction: row;

  margin: 0 auto;
  gap: 20px;
}

.ourCatalog-card-info {
  a {
    width: 157px;
    padding: 1.5em;
  }
}

.ourCatalog-card-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-color-2);
  padding: 2em;
  color: var(--primary-color);
  gap: 3em;
  height: 492px;
  width: 350px;
}

.ourCatalog-card-info h3 {
  font-family: var(--font-clicker);
  font-size: 2em;
}

.ourCatalog-card-info p {
  line-height: 1.5em;
}

.ourCatalog-card-photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.ourCatalog-card-photo-img img {
  width: 268px;
  background-color: var(--tertiary-color-2);
  height: 268px;
}

@media (max-width: 1312px) {
  .ourCatalog-card {
    flex-direction: column;
  }

  .ourCatalog-card-info {
    width: 1132px;

    margin: 0 auto;
  }

  .ourCatalog-card-info div {
    width: auto;
    height: auto;
    gap: 2em;
    padding: 3em 2em;
  }

  .ourCatalog-card-info p {
    width: 80%;
  }

  .ourCatalog-card-photo {
    justify-content: center;
  }
}

@media (max-width: 1160px) {
  .ourCatalog-card-info {
    width: 844px;
  }
}

@media (max-width: 1090px) {
  .ourCatalog-card-info {
    width: 790px;
  }

  .ourCatalog-card-photo-img,
  .ourCatalog-card-photo-img img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 821px) {
  .ourCatalog-card-info {
    width: 95vw;
  }

  .ourCatalog-card-photo {
    column-gap: 3vw;
    row-gap: 3vw;
  }

  .ourCatalog-card-photo-img,
  .ourCatalog-card-photo-img img {
    width: 45vw;
    height: 45vw;
  }
}

@media (max-width: 551px) {
  .ourCatalog-card-info {
    width: 93vw;
  }

  .ourCatalog-list {
    gap: 1em;
  }

  .ourCatalog-card-info div {
    padding: 2em 1em;
  }

  .ourCatalog-card-info p {
    width: 90%;
  }

  .ourCatalog-card-photo-img,
  .ourCatalog-card-photo-img img {
    width: 45vw;
    height: 45vw;
  }
}

@media (max-width: 440px) {
  .ourCatalog-card-info {
    width: 93vw;
  }

  .ourCatalog-card-photo-img,
  .ourCatalog-card-photo-img img {
    width: 45vw;
    height: 45vw;
  }
}

@media (max-width: 375px) {
  .ourCatalog-card-info {
    width: 91vw;
  }

  .ourCatalog-card-photo-img,
  .ourCatalog-card-photo-img img {
    width: 44vw;
    height: 44vw;
  }
}

@media (max-width: 300px) {
  .ourCatalog-card-info {
    a {
      padding: 1.5em 1em;
    }
  }

  .ourCatalog-card-photo-img,
  .ourCatalog-card-photo-img img {
    width: 90vw;
    height: 90vw;
  }
}