@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

@import url('./styles/reset.css');
@import url('./assets/GothamFont/GothamFont.css');
@import url('./styles/header.css');
@import url('./styles/ourCatalog.css');
@import url('./styles/aboutUs.css');
@import url('./styles/specialOffer.css');
@import url('./styles/form.css');
@import url('./styles/footer.css');

:root {
  --font-clicker: 'Clicker Script', cursive;
  --font-gotham-pro: 'Gotham Pro', sans-serif;
  --font-gotham-pro-bold: 'Gotham Pro Bold', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --primary-color: #f1f1f1;
  --secondary-color-1: #ddfffd;
  --secondary-color-2: #ffe2ba;
  --tertiary-color-1: #fa9617;
  --tertiary-color-2: #431711;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color-1);
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary-color-2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-color-2);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary-color-1);
}

a {
  text-decoration: none;
  color: var(--tertiary-color-2);
}

.company-name {
  font-family: var(--font-clicker);
  font-size: 48px;
}

p,
a,
span,
h1 {
  font-family: var(--font-gotham-pro);
}

.button {
  padding: 16px 32px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.button:hover {
  scale: 1.05;
}

.lightButton {
  color: var(--tertiary-color-1);
  border: 2px solid var(--tertiary-color-2);
  background-color: var(--tertiary-color-2);
}

.blackButton {
  color: var(--tertiary-color-1);
  border: 2px solid var(--primary-color);
  background: var(--tertiary-color-2);
}

@media (max-width: 450px) {
  .company-name {
    font-size: 32px;
  }
}