.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: 32px auto;
  padding: 16px;
  gap: 24px;
}

.company-name-aboutUs {
  color: var(--tertiary-color-2);
}

.aboutUs h2 {
  font-family: var(--font-clicker);
  font-size: 3em;
}

.aboutUs-text {
  margin: 0 auto;
  max-width: 90%;
  line-height: 1.5em;
}

.aboutUs hr {
  width: 25%;
  height: 0.5px;
  background-color: var(--tertiary-color-2);
}

@media (max-width: 768px) {
  .aboutUs {
    width: 80%;
    margin: 28px auto;
  }
}

@media (max-width: 490px) {
  .aboutUs {
    width: 90%;
    margin: 24px auto;
  }
}