.error-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.error-title {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.error-message {
  text-align: center;
}